html,
body {
  scroll-behavior: smooth;
}

//checkbox
.button-group {
  color: #333333;
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #eaeaea;
  font-size: 18px;
  text-align: center;
}

.button-sec {
  min-width: 95px;
  padding: 2px;
}

.button-label {
  opacity: 0.5;
}

.button-group div input {
  display: none;
  font-size: 18px;
  width: 100px;
}
.button-group div input:checked + label,
.button-group div input:checked + label:active {
  background: linear-gradient(143.28deg, #40c2c4 0%, #3c91a0 100%);
  min-width: 100px;
  opacity: 1;
  border-radius: 3px;
  color: #ffffff;
  font-size: 18px;
  width: 100px;
  font-weight: bold;
  display: inline-block;
}

//toggle button

:root {
  --switches-bg-color: white;
  --switches-label-color: #6c6c6c;
  --switch-bg-color: #3ea8b1;
  --switch-text-color: white;
}

.switches-container {
  width: 12.5rem;
  position: relative;
  display: flex;
  padding: 0;
  border: 1px solid rgba(222, 222, 222, 0.45);
  background: var(--switches-bg-color);
  line-height: 2rem;
  border-radius: 19.36px;
}

/* input (radio) for toggling. hidden - use labels for clicking on */
.switches-container input {
  visibility: hidden;
  position: absolute;
  top: 0;
}

/* labels for the input (radio) boxes - something to click on */
.switches-container label {
  width: 50%;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
  color: var(--switches-label-color);
  opacity: 50%;
}

/* switch highlighters wrapper (sliding left / right) 
    - need wrapper to enable the even margins around the highlight box
*/
.switch-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  padding: 0.2rem;
  z-index: 3;
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  /* transition: transform 1s; */
}

/* switch box highlighter */
.switch {
  border-radius: 14.85px;
  background: var(--switch-bg-color);
  height: 100%;
}

/* switch box labels
    - default setup
    - toggle afterwards based on radio:checked status 
*/
.switch div {
  width: 100%;
  text-align: center;
  opacity: 0;
  display: block;
  color: var(--switch-text-color);
  font-weight: bold;
  transition: opacity 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s;
  will-change: opacity;
  position: absolute;
  top: 0;
  left: 0;
}

/* slide the switch box from right to left */
.switches-container input:nth-of-type(1):checked ~ .switch-wrapper {
  transform: translateX(0%);
}

/* slide the switch box from left to right */
.switches-container input:nth-of-type(2):checked ~ .switch-wrapper {
  transform: translateX(-100%);
}

/* toggle the switch box labels - first checkbox:checked - show first switch div */
.switches-container input:nth-of-type(1):checked ~ .switch-wrapper .switch div:nth-of-type(1) {
  opacity: 1;
}

/* toggle the switch box labels - second checkbox:checked - show second switch div */
.switches-container input:nth-of-type(2):checked ~ .switch-wrapper .switch div:nth-of-type(2) {
  opacity: 1;
}
