@font-face {
  font-family: 'almoni';
  font-weight: 900;
  src: url('/fonts/almoni-black-aaa.woff2');
  font-display: swap;
}
@font-face {
  font-family: 'almoni';
  font-weight: 800;
  src: url('/fonts/almoni-black-aaa.woff2');
  font-display: swap;
}
@font-face {
  font-family: 'almoni';
  font-weight: 700;
  src: url('/fonts/almoni-black-aaa.woff2');
  font-display: swap;
}
@font-face {
  font-family: 'almoni';
  font-weight: 600;
  src: url('/fonts/almoni-black-aaa.woff2');
  font-display: swap;
}
@font-face {
  font-family: 'almoni';
  font-weight: 500;
  src: url('/fonts/almoni-black-aaa.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'almoni';
  font-weight: 400;
  src: url('/fonts/almoni-black-aaa.woff2');
  font-display: swap;
}
@font-face {
  font-family: 'almoni';
  font-weight: 300;
  src: url('/fonts/almoni-black-aaa.woff2');
  font-display: swap;
}
@font-face {
  font-family: 'almoni';
  font-weight: 200;
  src: url('/fonts/almoni-black-aaa.woff2');
  font-display: swap;
}
@font-face {
  font-family: 'almoni';
  font-weight: 100;
  src: url('/fonts/almoni-black-aaa.woff2');
  font-display: swap;
}

body {
  // font-family: system-ui,
  // -apple-system, /* Firefox supports this but not yet `system-ui` */
  // 'Segoe UI',
  // Roboto,
  // Helvetica,
  // Arial,
  // sans-serif,
  // 'Apple Color Emoji',
  // 'Segoe UI Emoji';
  font-family: 'almoni';
}
