:root {
    --fullhight: 100vh;
}

$baseFontSize: 16px;
$max-width: 1440px;
$inner-width: 1380px;

$full-height: var(--full-height);

$mobile: "(max-width: 960px),(max-device-width: 760px),(orientation: portrait)";
