.main {
  min-height: calc(#{$full-height} - 100px);
  max-width: 1624px;
}

.lightbulb {
  color: white;
}

.school-hat {
  color: #3fafb6;
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  column-gap: 20px;
  .active-svg .active-bulb {
    fill: #fff;
    stroke: #fff;
    // font-weight: 900;
  }
}
