#__next {
  transition: 0.3s filter linear;
  -webkit-transition: 0.3s -webkit-filter linear;
  -moz-transition: 0.3s -moz-filter linear;
  -ms-transition: 0.3s -ms-filter linear;
  -o-transition: 0.3s -o-filter linear;
}
.main {
  min-height: calc(#{$full-height} - 100px);
  max-width: 1624px;
}

.lightbulb {
  color: white;
}

.school-hat {
  color: #3fafb6;
}

.profile-avatar {
  width: 130px;
  margin-top: 25px;
}

.profile-fav-company {
  min-width: 180px;
  max-width: 180px;
}

.description {
  // min-width: 520px;
  // max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  // max-height: 32px; /* fallback */
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.title-length {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  // max-height: 32px; /* fallback */
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.email1::placeholder {
  padding-right: 10px;
}

// .leftNav input[type='checkbox'] {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   opacity: 0;
//   display: block;
//   cursor: pointer;
//   margin-top: 5px;
//   // background: #3a3a3a;
// }

// .leftNav ul {
//   margin: 0;
//   padding: 0;
// }

.acordion button {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  width: 100%;
  text-align: right;
}

.acordion {
  position: relative;
  float: left;
  width: 100%;
  list-style: none;
  color: #fff;
  transition: 0.5s;
  // border-top: 1px solid #555;
  background: linear-gradient(143.28deg, #40c2c4 0%, #3c91a0 100%);
  margin-top: 3px;
  // height: 82px;
  border-radius: 10px;
}

.acordion li:first-child {
  border-top: none;
}

.acordion .submenu {
  max-height: 0;
  overflow: hidden;
  border-top: none;
  transition: max-height 0.5s ease-in-out;
  padding: 6px;
  // width: 100%;
}

.acordion.isActive .submenu {
  max-height: 999px;
  // border-top: 1px solid #555;
}
.acordion svg {
  color: white;
  fill: white;
  // background-color: red;
}
