#__next {
  transition: 0.3s filter linear;
  -webkit-transition: 0.3s -webkit-filter linear;
  -moz-transition: 0.3s -moz-filter linear;
  -ms-transition: 0.3s -ms-filter linear;
  -o-transition: 0.3s -o-filter linear;
}
.main {
  min-height: calc(#{$full-height} - 100px);
  max-width: 1624px;
}

.lightbulb {
  color: white;
}

.school-hat {
  color: #3fafb6;
}

.profile-avatar {
  width: 130px;
  margin-top: 25px;
}

.profile-fav-company {
  min-width: 180px;
  max-width: 180px;
}

.description {
  min-width: 520px;
  max-width: 520px;
}

.email1::placeholder {
  padding-right: 10px;
}
