.nav {
  &__button {
    width: 115px;
    min-height: 85px;
    max-height: 104px;
    // flex: 0 0 115px;
    // height: 107px;

    border-radius: 14px;
    background: rgba(255, 255, 255, 0);
    opacity: 1;
    &.active {
      background: rgba(255, 255, 255, 0.2);
    }
    &.disabled {
      opacity: 0.5;
    }
  }
  &__border {
    width: 70px;
    height: 100%;
    background-color: #f5f5f5;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.nav__links > * svg {
  // max-width: 100px;
  // max-height: 100px;
}

.active-bulb {
  fill: transparent;
  stroke: #fff;
}
.active-jobs {
  fill: transparent;
  stroke: #fff;
}
.active-svg .active-jobs {
  fill: #fff;
  stroke: #fff;
}
.active-svg .active-bulb {
  fill: #fff;
  stroke: #fff;
}
.st2,
.st1 {
  fill: transparent;
  stroke: #fff;
}
.active-info {
  fill: transparent;
  stroke: #fff;
}
.active-svg .active-info {
  fill: #fff;
  stroke: #fff;
}

.active-study {
  fill: transparent;
  stroke: #fff;
}
.active-svg .active-study {
  fill: #fb9773;
  stroke: #fb9773;
}

.s-logo {
  height: 55px;
  width: 75px;
  opacity: 0.7;
  margin-bottom: 10px;
}

.st-logo-0 {
  fill: #d7d7d7;
}

.st-logo-1 {
  fill: #ffffff;
}

.st-logo-2 {
  fill: #3b91a2;
}
