//circular-progressbar

.circular-chart {
  display: block;
  width: 50px;
  height: 50px;
}

.circle {
  fill: none;
  stroke-width: 1.5;
  stroke-linecap: round;
  animation-delay: 2s;
  animation: progress 1s ease-out forwards;
  transform-origin: center;
  transform: rotate(189deg);
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.percentage {
  font-size: 12px;
  text-anchor: middle;
  font-weight: 900;
}

.pofile-notifications {
  background: linear-gradient(143.28deg, #40c2c4 0%, #3c91a0 100%);
}

.profile-fav-company {
  min-width: 180px;
  max-width: 180px;
}
