.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.nojobs {
    svg {
        .active-jobs {
            stroke: rgba(0, 0, 0, 0.2);
        }
    }
}
.job.active {
    max-height: 300px;
}
.job {
    max-height: 92px;
    &.active {
        .job__top {
            background: linear-gradient(179.83deg, #3c91a0 0%, #40c2c4 100%);
        }
    }
    &__top {
        height: 92px;
    }
    &__inner {
        background: linear-gradient(179.62deg, #3c91a0 0%, #40c2c4 100%);
    }
}
