.messageWrapper{
    display: none;
    position: absolute;
}

@media only screen and (max-width: 600px) {
    
    .messageWrapper{
        display: grid;
        position: absolute;
        
    }
    .messageWrapper{
        filter: blur(0);
    }

    .nav__wrapper>*{
        display: none;
    }
    .messageWrapper{
        z-index: 1;
        display: grid;
        
    }

}
