.messageWrapper {
    display: none;
    position: absolute;
}

@media only screen and (max-width: 780px) {
    .messageWrapper {
        display: grid;
    }
    .messageWrapper {
        z-index: 120;
    }
    .messageWrapper--bg {
        filter: blur(0);
        backdrop-filter: blur(4px);
    }

    .nav__wrapper > * {
        display: none;
    }
}
