.bwc {
  position: relative;
  justify-self: center;
  height: 50px;
  width: 100%;
  border-radius: 0.375rem;
  text-align: start;
  padding-right: 20px;
  font-size: 18px;
  --tw-bg-opacity: 1;
  background-color: rgba(231, 231, 231, var(--tw-bg-opacity));
}

// .bwc:active {
//   background-color: red;
// }

.bwc::placeholder {
  // color: #9b2c2c !important;
  font-size: 18px !important;
  letter-spacing: 0 !important;
  line-height: 18px !important;
  text-align: right !important;
  padding-right: 20px !important;
  color: #999999 !important;
}

.group11 {
  object-fit: cover;
}

.modal > .content {
  width: 100%;
  padding: 10px 35px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal {
  width: 400px;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  width: 29px;
  height: 29px;
  right: 17px;
  top: 21px;
  background: #ffffff;
  font-size: 21px;
  font-weight: 600;
  color: rgb(214, 214, 214);
  border-radius: 100%;
  color: rgb(214, 214, 214);
  border: 2px solid rgb(214, 214, 214);
}

.coeffitiontPop {
  opacity: 0.3;
  transition: all 0.2s;
  transform: translateY(15px);
  visibility: hidden;
  z-index: -1;
}
.smallpop:hover .coeffitiontPop {
  visibility: visible;
  z-index: 3;
  box-shadow: 0 22px 25px -10px rgba(0, 0, 0, 0.17);
  opacity: 1;
  transform: translateY(0);
}

.regiserPageInput:focus {
  outline: none !important;
  background-color: rgba(255, 255, 255, 0.81);
  border: solid 2px #41c2c4;
}
// .emailini:active {
//   outline: none !important;
//   background-color: rgba(255, 255, 255, 0.81);
//   border: solid 2px #41c2c4;
// }

.boomp:active + .emailini {
  outline: none !important;
  background-color: rgba(255, 255, 255, 0.81);
  border: solid 2px #41c2c4;
}

.checkbox {
  appearance: none;
  display: inline-block;
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  background-clip: content-box;
  border: 1px solid #999999;
  border-radius: 4px;
  transition: all 0.3s;
  background-size: 25%;
  background-position: center;
}

.checkbox:checked {
  /* background-color: #b61515; */
  border-color: #3c91a0;
  background-repeat: no-repeat;
  background-size: 54%;

  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxMXB4IiB2aWV3Qm94PSIwIDAgMTIgMTEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8dGl0bGU+MDYzNzk4ODktRDQzMi00REM1LUE3NzEtQUVGRkY1NjVENjc0PC90aXRsZT4KICAgIDxnIGlkPSJEZXNpZ24iIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCI+CiAgICAgICAgPGcgaWQ9IlN0eWxlZ3VpZGUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC00NDkuMDAwMDAwLCAtMjk0Ni4wMDAwMDApIiBzdHJva2U9IiMzQzkxQTAiIHN0cm9rZS13aWR0aD0iMiI+CiAgICAgICAgICAgIDxwb2x5bGluZSBpZD0iUGF0aC0yIiBwb2ludHM9IjQ1MCAyOTUxLjg0Njg1IDQ1Mi45OTkzMjkgMjk1NS4wNTA5IDQ1OS44MTczODggMjk0NyI+PC9wb2x5bGluZT4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==');
}
#react-select-3-option-0 :hover {
  color: red;
  background-color: red;
}
@media only screen and (max-width: 700px) {
  .second-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 700px) {
  .registerPage_form_container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1.5rem;
  }
  .sign-up-main-title-wrapper {
    justify-content: center;
  }
  .sign-up-main-title {
    font-size: 35px;
  }
  .signup-radio-wrapper {
    display: grid;
    gap: 18px;
  }
  .signup-radio-sub-wrapper {
    display: flex;
    justify-content: space-evenly;
  }
  .signup-frist-checkbox-wrapper {
    display: block;
  }
  .signup-seconde-checkbox-wrapper {
    display: block;
  }
  .signup-header-wrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 10px;
    margin-top: 1px;

    // grid-template-columns: none;
  }
  .signup-header-bottom {
    justify-self: center;
    position: relative;
  }
  .signup-logo {
    width: 150px;
    // height: 150px;
  }
  .registerPage_container {
    margin-top: 2rem;
  }
}
