//stepper
.stepper-one {
  background: linear-gradient(97.81deg, #40c2c4 0%, #3c91a0 100%);
}

.stepper {
  position: relative;
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.half-white-half-orange {
  background: linear-gradient(90deg, #ffffff 50%, #fb9773 50%);
}

.stepper__indicator {
  position: relative;
  display: block;
  z-index: 2;
}

.stepper__label {
  position: relative;
  display: block;
  color: #ffffff;
  z-index: 2;
  margin-top: 5px;
  line-height: 1;
}

.stepper__info {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  font-size: 23px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  z-index: 2;
}

.stepper__panel {
  display: none;
}

.stepper .stepper__step:after {
  content: " ";
  position: absolute;
  top: 1.8rem;
  width: 100%;
  height: 7.5px;
  z-index: 1;
  border-radius: 4px;
  background-color: #fb9773;
}
.dis_1 .stepper__step:nth-child(1):after,
.dis_1 .stepper__step:nth-child(2):after {
  background: #ffffff;
}

.dis_2 .stepper__step:nth-child(2):after {
  background: #ffffff;
}

.stepper .stepper__step:last-child:after {
  display: none;
}
.stepper__empty {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  z-index: 10;
  position: absolute;
  right: 10px;
  top: 10px;
}

.shadow-active {
  box-shadow: 0 0 0 5px #9c9c90;
}
