.flexi text > * {
  color: white;
  fill: white;
}

.added-shadow {
  box-shadow: 0 12px 34px -20px rgba(16, 20, 63, 0.15);
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-bottom: 20px solid white;

  justify-self: center;
  right: 35%;
  top: -12px;
}

.checkbox-container > .button-group {
  min-width: 0;
  width: auto;
}

.compare-c > svg path g {
  fill: black;
  stroke: black;
  // background-color: black;
  // color: black;
}
