.dashboard {
    &__grid {
        min-height: calc(100vh - 300px);
        gap: 36px 51px;
        grid-template-columns: minmax(400px, 558px) 1fr;
        grid-template-areas:
            "aside main"
            "aside banner";
    }
    &__summary {
        grid-area: aside;
    }
    &__banner {
        grid-area: banner;
    }
    &__dashboard {
        grid-area: main;
    }
}

.dashboard__summary--horizontal {
    .ProfileSummary {
        min-height: unset;
    }
    h4,
    h3 {
        margin-bottom: 0;
    }
}
