.login {
    height: 837px;
    max-height: 90vh;
    max-width: 1290px;
    padding: 0 12px;
    &__form {
        max-height: 791px;
        flex: 0 0 467px;
        background: linear-gradient(145.91deg, #40c2c4 0%, #3c91a0 100%);
    }

    &__image {
        transform: translateX(186px);
        z-index: 1;
        position: relative;
    }
}
